*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f1ef;
}

.container {
    width: 828px;
    height: 366px;
    /*background-color: aqua;*/
    margin: 0 auto;
}

.title {
    height: 60px;
    /*background-color: orange;*/
    line-height: 60px;
}

.info {
    height: 306px;
    /*background-color: yellow;*/
}

.title>.left {
    float: left;
    font-size: 18px;
}

.title>.right {
    float: right;
    font-size: 10px;
}

.info>div {
    width: 256px;
    height: 306px;
    /*background-color: blue;*/
    float: left;
}

.info>.box2 {
    margin: 0 30px;
}

img {
    vertical-align: middle;
}

cv {
    border-bottom: 4px solid gray;
}
    
ka {
    border-bottom: 4px solid gray;
}
  
md {
    border-bottom: 4px solid gray;
}

.info>div>div {
    height: 100px;
    border-color: white;
    padding: 14px 10px;
    font-size: 14px;
}
  